@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Jost:ital,wght@1,900&family=Oswald:wght@200;700&family=Playfair+Display&family=Poppins:wght@100;200;900&display=swap");

/*

font-family: 'Caveat', cursive;
font-family: 'Jost', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;

*/

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/*

CHANGE LANGUAGE BUTTOM

*/

.container-language{


    font-family: 'Poppins', sans-serif;
    font-weight: bold;


    color: white;
    bottom: 2vh;
    right: 2vw;
    position: fixed;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.checked-button{
    background-color: white;
    width: 50px;
    height: 30px;
    border-radius: 200px;
    cursor: pointer;
    position: relative;
    
    border: solid rgb(255, 0, 0);

    transition: 0.2s linear;
}

.checked-button::before{
    position: absolute;
    content: 'BR';
    font-size: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.39);

    background-color: rgb(255, 255, 255);
    width: 25px;
    height: 25px;
    border-radius: 200px;
    margin: 2px;
    transition: 0.2s linear;

}

input:checked + .checked-button{
    background-color: red;
    border: solid rgb(255, 255, 255);
}
input:checked + .checked-button::before{
    color: rgb(255, 0, 0);
    transform: translateX(20px);
    content: 'EN';
}





input{
    display: none;
}

/* HEADER */

header {
    width: 100%;
    height: 10vh;
    background-image: linear-gradient(180deg, black, rgba(0, 0, 0, 0.9));
    align-items: center;
    justify-content: center;
    display: flex;

    color: white;

    user-select: none;
}

header nav {
    width: 100%;
    padding: 40px;
}

header nav ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
}

header nav ul a {
    text-decoration: none;
    color: white;
}

header h1 {
    font-size: 35px;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

/* MAIN */

.background-image {
    position: absolute;
    width: 100%;
    z-index: -9999;
    top: 0;
}

main {
    width: 100%;
}

/* HERO */

.hero {
    width: 100%;
    height: 90vh;

    background-color: rgba(0, 0, 0, 0.9);

    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-hero {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
}

.main-hero p {
    margin-bottom: 50px;
}

.main-hero h1 {
    margin: 0;
    padding: 0;

    font-family: "Poppins", sans-serif;
    font-size: 120px;
}

.dot {
    animation: popup 1s step-end infinite;
}
@keyframes popup {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 100%;
    }
    100% {
        opacity: 0;
    }
}

.change-language {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    background-color: red;
    border: none;
    padding: 10px;
    width: 50%;
    font-size: 20px;
    border-radius: 30px;
    transition: 1s;
}
.change-language:hover {
    text-shadow: 0 0 10px white;
}

/* container */

.container {
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgb(3, 3, 3);
}

.about-me {
    color: white;
    width: 100%;
    height: 90vh;
    display: flex;
}

.aboute-me-article {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 20px;

    text-align: center;
    justify-content: center;
    border-radius: 20px;
}

.about-me-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
}

.about-me-content p {
    text-align: justify;
}

.horizontal {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 2px;
    background-color: red;
}

.about-me-content h3 {
    margin: 0;
    font-size: 30px;
    text-align: left;
}

.about-me-content h1 {
    text-align: left;
    margin: 0;
    font-size: 70px;
}

/*----------------------------------------*/
/* WORKS AND COURSES */

.works-and-courses {
    background-color: black;
    color: white;
    height: 90vh;
    width: 100%;
}

.works-container {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
}

.works-container article {
    margin: 0 auto;
    padding: 50px;
    width: 50%;
}

.content-about-me {
    display: flex;
    align-items: center;
    color: white;
    font-family: "Poppins", sans-serif;
}

.content-about-me button {
    border: none;
    background-color: transparent;
}

.content-about-me span {
    color: white;
    font-size: 30px;
}

.content-about-me h1 {
    font-size: 50px;
}
.article-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    width: 700px;
    height: 100%;
    overflow: hidden;
}
.carrossellBTN {
    position: absolute;
    cursor: pointer;
}
.carrossellBTN span {
    transition: font-size 0.5s ease-in-out, color 0.5s ease-in-out;
}
.carrossellBTN span:hover {
    color: red;
    font-size: 50px;
}
.carrossellBTN:first-of-type {
    left: 0;
}
.carrossellBTN:last-of-type {
    right: 0;
}
.article-content-card {
    position: absolute;
    max-width: 600px;
    transition: transform 0.5s ease-in-out;
    transform: translateX(200%);
}

/*----------------------------------------*/

/* FOOTER */
footer {
    height: 40vh;
    color: white;
    background-color: black;
}
